{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<section class="bg5">
    <div class="container">
        <div class="d-flex justify-content-evenly align-items-center flex-wrap text-white">

            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <img src="../../static/images/about/about.jpg" alt="some">
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <img src="../../static/images/about/about.jpg" alt="some">
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <img src="../../static/images/about/about.jpg" alt="some">
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <img src="../../static/images/about/about.jpg" alt="some">
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <img src="../../static/images/about/about.jpg" alt="some">
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <img src="../../static/images/about/about.jpg" alt="some">
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <img src="../../static/images/about/about.jpg" alt="some">
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <img src="../../static/images/about/about.jpg" alt="some">
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title</h6>
                    <p>description</p>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock content %}