{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<section class="bg5">
    <div class="container">
        <div class="d-flex justify-content-evenly align-items-center flex-wrap text-white">

            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <a href="{{url_for('galleryDet', id = id[0])}}"><img src="../../static/images/about/about.jpg" alt="some"></a>
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title {{id[0]}}</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <a href="{{url_for('galleryDet', id = id[1])}}"><img src="../../static/images/about/about.jpg" alt="some"></a>
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title {{id[1]}}</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <a href="{{url_for('galleryDet', id = id[2])}}"><img src="../../static/images/about/about.jpg" alt="some"></a>
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title {{id[2]}}</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <a href="{{url_for('galleryDet', id = id[3])}}"><img src="../../static/images/about/about.jpg" alt="some"></a>
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title {{id[3]}}</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <a href="{{url_for('galleryDet', id = id[4])}}"><img src="../../static/images/about/about.jpg" alt="some"></a>
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title {{id[4]}}</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <a href="{{url_for('galleryDet', id = id[5])}}"><img src="../../static/images/about/about.jpg" alt="some"></a>
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title {{id[5]}}</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <a href="{{url_for('galleryDet', id = id[6])}}"><img src="../../static/images/about/about.jpg" alt="some"></a>
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title {{id[6]}}</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <a href="{{url_for('galleryDet', id = id[7])}}"><img src="../../static/images/about/about.jpg" alt="some"></a>
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title {{id[7]}}</h6>
                    <p>description</p>
                </div>
            </div>
            <div class="gallery-item rounded shadow my-3">
                <div class="gallery-item-img">
                    <a href="{{url_for('galleryDet', id = id[8])}}"><img src="../../static/images/about/about.jpg" alt="some"></a>
                </div>
                <div class="gallery-item-text p-2">
                    <h6 class="text-center">title {{id[8]}}</h6>
                    <p>description</p>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock content %}